
********************************************************************************
    This is a proof of concept system delivered by {{ company_name }}


    It was built and configured and managed using Ansible.

********************************************************************************
