<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML5 boilerplate – all you really need…</title>
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

    <h1>Foreman Facts ("vars")</h1>
    <pre>
        {{ foreman_facts | to_yaml }}
    </pre>

    <h1>Augeus Version ("vars")</h1>
    <pre>
        Installed Augeas accoriding to puppet {{ foreman_facts.augeasversion }}
    </pre>

</body>
</html>